

* {
    margin: 0;
    padding: 0;
}
/* https://dontpad.com/fs21 */
header {
    height: 100px;
    background-color: #444;
    color: #FFF;

    display: flex;
    flex-direction: row;
    padding: 10px;
}
#logo {
    width: 20%;
    background-color: red;
}
#menu {
    width: 80%;
    background-color: yellow;
}
