@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root{
    --color : red;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--color);
    color: white;
    display: flex;
    align-items: center; /* Center content vertically */
    min-height: 60px; /* Fixed height for consistency */
    padding: 10px;
}

.menu {
    width: 70%;
}

.content {
    text-align: center;
    color: red;
    font-size: 2.5rem; /* Use relative units for better responsiveness */
}

.pecas {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 2%;
    max-width: 100%;
    
}

.peca img {
    width: 100%;
    height: 90%; /* Maintain aspect ratio */
}

.peca {
    width: 33.3%;
    background-color: red;
    border-radius: 5px;
    color: white;
    text-align: center; /* Center text in each piece */
    padding-bottom: 10px;
}

.logo {
    width: 50%;
}

@media screen and (max-width: 360px) {
    header {
        flex-direction: column;
    }
    .pecas {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    header {
        flex-direction: row-reverse;
    }
}
